@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$footerHeight: 200px;
$green: #54B948;

@mixin transition ($transition){
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
}

// General CSS rules
html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body{
    margin-bottom: $footerHeight;
}

h1, h2, h3, h4, p, a{
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 20px;
}
a{
    color: $green;
    &:hover{
        color: lighten($green, 20%);
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}

.fa{
    display: inline-block;
}

.venue{
    color:azure;
}

hr{
    border-top: 1px solid black;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-color: #757575;
}
header{
    transform: translateZ(0);
    min-height: 100vh;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    color: azure;
    .read-more{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        text-align: center;
    }

    .container-fluid{
        margin: 0;
        width: 100%;
        text-align: center;
        .logo.img-responsive{
            width: 250px;
            height: auto;
            margin: auto;
        }
    }
    #background-overlay{
        width:100%;
        position:absolute;
        top:0;
        left:0;
        right:0;
        min-height:100vh;
        z-index: -2;
    }

    a.typeform-share.button{
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        float: none;
        border-radius: 2px;
        background: $green;
        border: 0;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        color: white;
        @include transition (ease-out 0.4s all );
        &:hover{
            background: lighten($green, 20%);
            color: black;
        }
    }
}

section.schedule{
    td, th{
        color: black;
        text-align: center;
        width: 50%;
    }
    background: #F3E8EE;
    padding-top: 30px;
    padding-bottom: 30px;
    h1, h2, p{
        color: black;
    }
}

section.faq{
    background: linear-gradient(123deg, #34d98d, #daffb6);
    padding-top: 30px;
    padding-bottom: 30px;

    p.question{
        font-weight: bold;
        margin-bottom: 5px;
    }
    p.answer{

        margin-bottom: 20px;
    }
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: $footerHeight;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;

    .love{
        margin-top: 20px;

    }
}
// For mobile devices.
@media (max-width: 800px){
    h1{
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h2, h3{
        font-size: 18px;
        margin-bottom: 5px;
    }
    p{
        font-size: 14px;
    }
    header{
        #mc_embed_signup form{
            input.email{
                font-size: 15px;
                width: 100%;
            }
            input.button{
                text-align: center;
                font-size: 15px;
                min-width: 70px;
                margin: auto;

            }
        }
        a.fa{
            padding-bottom: 0;
        }
    }
    section.about{
        background-size: auto;
    }
}


